# ===================================================================
# artellapipe-tools-assetsbuilder requirements file
# ===================================================================

artellapipe-core